# Configuration file

general {
    # Declare structures to be added in atlas, format: structurename,alwaysvisible,markertype,label [default: []]
    S:structureDeclaration <
        
     >
}


